div{
			margin: 250px 200px 100px 100px;
			justify-content: center;
			text-align: center;
			flex-wrap: wrap;
		}
		.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}